.Header{
    min-height: 50px;
    background-color: rgba(197,142,255,0.78);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Header a{
    text-decoration: none;
    color: rgba(255,246,254,0.78);
    font-size: 25px;
}

.Header a[class='active']{
    color: rgba(41,165,156,0.78);
}